@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes fade-out {
  from { opacity: 1 }
  to { opacity: 0 }
}

@keyframes scale-in {
  from { opacity: 0; transform: scale(.95) }
  to { opacity: 1; transform: scale(1) }
}

@keyframes scale-out {
  from { opacity: 1; transform: scale(1) }
  to { opacity: 0; transform: scale(.95) }
}

.data-[state=open]:animate-fade-in { animation: fade-in 0.15s ease-out; }
.data-[state=closed]:animate-fade-out { animation: fade-out 0.15s ease-in; }

.data-[state=open]:animate-scale-in { animation: scale-in 0.15s ease-out; }
.data-[state=closed]:animate-scale-out { animation: scale-out 0.15s ease-in; }

